<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Hasło dla [<b>{{vm.account.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Hasło zmieniono!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.error" >
                <strong>Wystąpił błąd!</strong> Nie można zmienić hasła.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                Hasła nie są zgodne!
            </div>

            <form name="form" role="form" novalidate ng-submit="vm.changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Hasło jest wymagane.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Hasło nie może być krótsze niż 4 znaki.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Hasło nie może być dłuższe niż 50 znaków.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Wymagane potwierdzenie hasła.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Hasło nie może być krótsze niż 4 znaki.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Hasło nie może być dłuższe niż 50 znaków.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
